<!doctype html>
<html lang="en">
  <head>
  	<title>Create order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>






	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Create order</h2>
				</div>
			</div>




			<form align="center" class="form-inline">
				<div class="form-group mb-2">
					<label for="staticEmail2" class="sr-only">Product</label>
					<input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Product">
				</div>


				<div class="form-group mx-sm-3 mb-2">
					<label for="inputPassword2" class="sr-only"></label>
					<select class="form-control" id="inputPassword2">
						<option selected>Open this select menu</option>
						<option value="1">Product 1</option>
						<option value="2">Product 2</option>
						<option value="3">Product 3</option>
					</select>

				</div>




				<div class="form-group mb-2">
					<label for="staticEmail2" class="sr-only">Quantity</label>
					<input type="text" readonly class="form-control-plaintext" id="staticEmail21" value="Quantity">
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<label for="inputPassword2" class="sr-only">0</label>
					<input type="number" class="form-control" id="inputPassword21" placeholder="0">
				</div>
				<button type="submit" class="btn btn-primary mb-2" style="background-color: #f44336;">ADD</button>
			</form>









			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>Product id</th>
						      <th>Catagory name</th>
						      <th>Brand name</th>
						      <th>Quantity</th>
								<th>Product name</th>
								<th>Sub total</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">
						      <th scope="row">001</th>
						      <td>Watch</td>
						      <td>Casio</td>
						      <td>2</td>
								<td>Smart watch</td>
								<td>3000</td>
						      <td>
						      	<a href="#" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</a>
				        	</td>
						    </tr>
						    <tr class="alert" role="alert">
						      <th scope="row">002</th>
						      <td>Mobile</td>
						      <td>Sumsug</td>
						      <td>2</td>
								<td>Sumsung G5</td>
								<td>7000</td>
						      <td>
						      	<a href="#" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</a>
				        	</td>
						    </tr>
							<!--    <tr class="alert" role="alert">
                                  <th scope="row">003</th>
                                  <td>Larry</td>
                                  <td>the Bird</td>
                                  <td>larrybird@email.com</td>
                                    <td>larrybird@email.com</td>
                                    <td>larrybird@email.com</td>
                                  <td>
                                      <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                  </a>
                                </td>
                                </tr>
                                <tr class="alert" role="alert">
                                  <th scope="row">004</th>
                                  <td>John</td>
                                  <td>Doe</td>
                                  <td>johndoe@email.com</td>
                                    <td>larrybird@email.com</td>
                                    <td>larrybird@email.com</td>
                                  <td>
                                      <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                  </a>
                                </td>
                                </tr>


                                <tr class="alert" role="alert">
                                  <th scope="row">005</th>
                                  <td>Gary</td>
                                  <td>Bird</td>
                                  <td>garybird@email.com</td>
                                    <td>garybird@email.com</td>
                                    <td>garybird@email.com</td>

                                  <td>
                                      <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                  </a>
                                </td>
                                </tr>-->




						  </tbody>
						</table>





					</div>
				</div>
			</div>



			<div class="form-group mb-2">
				<label for="staticEmail2" class="sr-only">Grand total</label>
				<input type="text" readonly class="form-control-plaintext" id="staticEmail211" value="Grand total 10,000.00">
			</div>

			<input type="radio" id="contactChoice2" name="contact" value="phone" />
			<label for="contactChoice2">Card</label>

			<input type="radio" id="contactChoice3" name="contact" value="mail" />
			<label for="contactChoice3">Bumble bee</label>

<br>

			<button type="submit" class="btn btn-primary mb-2" style="background-color: #f44336;">Place order</button>



		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

