<!doctype html>
<html lang="en">
<head>
    <title>List of users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>






<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Users list</h2>
            </div>
        </div>






<!--
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only"></label>
                <select class="form-control" id="inputPassword2">
                    <option selected>Open this select menu</option>
                    <option value="1">Product 1</option>
                    <option value="2">Product 2</option>
                    <option value="3">Product 3</option>
                </select>

            </div>




            <div class="form-group mb-2">
                <label for="staticEmail2" class="sr-only">Quantity</label>
                <input type="text" readonly class="form-control-plaintext" id="staticEmail21" value="Quantity">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only">0</label>
                <input type="number" class="form-control" id="inputPassword21" placeholder="0">
            </div>
            <button type="submit" class="btn btn-primary mb-2" style="background-color: #f44336;">ADD</button>
        </form>

-->







        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                        <thead style="background-color: #008CBA;">
                        <tr>
                            <th>FullName</th>
                            <th>Date of birth</th>
                            <th>User type</th>
                            <th>User email</th>
                            <th>User mobile number</th>
                            <th>Loan balance</th>
                            <th>Used amound</th>
                            <th>Plan name</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="alert" role="alert">
                            <th scope="row">Thanu Jaya</th>
                            <td>18-01-1997</td>
                            <td>Customer</td>
                            <td>thanu@gmail.com</td>
                            <td>0745879641</td>
                            <td>9600.0</td>
                            <td>5400.0</td>
                            <td>10000-5000-5000</td>
                            <td>
                                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </a>
                            </td>
                        </tr>
                        <tr class="alert" role="alert">
                            <th scope="row">Vaisu Raja</th>
                            <td>08-02-1996</td>
                            <td>Customer</td>
                            <td>vaisu@gmail.com</td>
                            <td>0778955545</td>
                            <td>10000.0</td>
                            <td>5000.0</td>
                            <td>10000-5000-5000</td>

                            <td>
                                <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                </a>
                            </td>
                        </tr>
                        <!--    <tr class="alert" role="alert">
                              <th scope="row">003</th>
                              <td>Larry</td>
                              <td>the Bird</td>
                              <td>larrybird@email.com</td>
                                <td>larrybird@email.com</td>
                                <td>larrybird@email.com</td>
                              <td>
                                  <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-close"></i></span>
                              </a>
                            </td>
                            </tr>
                            <tr class="alert" role="alert">
                              <th scope="row">004</th>
                              <td>John</td>
                              <td>Doe</td>
                              <td>johndoe@email.com</td>
                                <td>larrybird@email.com</td>
                                <td>larrybird@email.com</td>
                              <td>
                                  <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-close"></i></span>
                              </a>
                            </td>
                            </tr>


                            <tr class="alert" role="alert">
                              <th scope="row">005</th>
                              <td>Gary</td>
                              <td>Bird</td>
                              <td>garybird@email.com</td>
                                <td>garybird@email.com</td>
                                <td>garybird@email.com</td>

                              <td>
                                  <a href="#" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true"><i class="fa fa-close"></i></span>
                              </a>
                            </td>
                            </tr>-->




                        </tbody>
                    </table>





                </div>
            </div>
        </div>



</form>
    </div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>

